body{
    font-family: "Nunito Sans";
    font-weight: 1000;
    margin: 0;
    height: 500vh;
}

.nav-header{
    position: sticky;
    top: 0rem;
    background: linear-gradient(to right, rgba(1, 174, 240, 0.82) 80%, rgba(131, 207, 234, 0.2));
    z-index: 50;


}
b{
    font-size: 1.5rem;
    text-decoration: underline;


}

nav ul {
    padding: 0.6em;
    
    margin-top: -4rem;
    margin-left: 10%;

    box-sizing: border-box;
    border-color: #01AEF0;
    border-width: 0.12rem;
    border-radius: 1px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    gap: 4rem;
    
    

}
nav ul span{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-left: 20rem;
    margin-right: 10%;
}
nav li{
    list-style: none;
    display: inline;
    
    
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: 700;

}

nav a:hover{
    text-decoration: underline;
    background-image:linear-gradient(to right, rgba(117, 216, 255, 0.82)67%,rgba(255, 255, 255, 0.0)) ;
    font-weight: 700;

}





nav .icon{
    width: 12.5rem;
    height: 2.5rem;
}






header.title{
    /* Adjust margin so that the bg image is under the nav bar */
    margin-top: -5.5rem;
    /* Resets the "margin" for content inside */
    padding-top: 5.5rem;
    height: 51rem;

    /* https://www.pexels.com/video/two-women-lining-up-with-head-statues-3796398/ */
    background-image: url("../images/header bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

h1{
    background-image:linear-gradient(to right, rgba(117, 216, 255, 0.82),rgba(255, 255, 255, 0.0)) ;
    
    color: rgb(255, 255, 255);

    text-align: center;
    font-size: 8rem;
    width: 45%;

}

.section-home{
    margin-top: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    height: 30rem;
    
    
    display: flex;
    column-gap: 4rem;
    align-items: center;
    justify-content: center;

    

}

.section-home2{
    margin-top: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    height: 24rem;
    
    
    display: flex;
    column-gap: 4rem;
    align-items: center;
    justify-content: center;

    

}
.minisection-home{
    margin-top: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    
    
    
    display: flex;
    column-gap: 4rem;
    
    justify-content: center;

    

}

article{
    background-image: linear-gradient(to left, rgba(117, 216, 255, 0.82),rgba(255, 255, 255, 0.0));
    width: 40rem;
    padding: 2em;
    
    box-sizing: border-box;
    

}
article.rev{
    background-image: linear-gradient(to right, rgba(117, 216, 255, 0.82),rgba(255, 255, 255, 0.0));
    width: 40rem;
    padding: 2em;
    
    box-sizing: border-box;
    

}

h2{
    font-size: 4rem;
    margin: 0;
    color: rgb(63, 63, 63);

}
p{
    margin: 0;
    margin-left: 0.4rem;
    color: rgb(63, 63, 63);
    font-weight: 700;
    font-size: 1.5rem;


}

figure{
    margin: 0;
    height: 100%;
    
   
    
}

.article-image{
    
    width: 100%;
    height: 100%;
}

.article-image2{
    
    width: 30rem;
    height: 100%;
    
}

.mini{
    background-image: linear-gradient( rgba(0, 81, 112, 0.82)60%,rgba(0, 81, 112, 0.82));
    width: 40rem;
    padding: 2em;
    
    box-sizing: border-box;


}
h3{
    font-size: 3rem;
    margin: 0;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: underline;

}

.pmini{
    margin: 0;
    margin-left: 0.4rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.5rem;


}

.new-sec{
    margin-top: 8rem;
    padding-top: 0;
    height: 40rem;
    /* https://www.pexels.com/video/humanoid-robot-moving-5854603/ */
    background-image: url("../images/factory_robot.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}



.mini-title{
    background-image:linear-gradient(to right, rgba(117, 216, 255, 0.82),rgba(255, 255, 255, 0.0)) ;
    
    color: rgb(255, 255, 255);

    text-align: center;
    font-size: 5rem;
    width: 45%;
}

table{
    border-color: #01AEF0;
    border-width: 1rem;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 73%;
}

th{
    padding-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    border-width: 0.2rem;
    color: rgb(63, 63, 63);
    font-size: 2rem;
    
}

#basic{
    padding: 0;
    font-size: 3rem;
}

#factory{
    padding: 0;
    margin: 0;

}
td{
    padding-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    border-width: 0.2rem;
    color: rgb(63, 63, 63);
    font-size: 1rem;
    font-weight: 500;

}

.card{
    display: inline-block;
    width: 17rem;
    height: 23rem;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 0.26rem;
    
    background-color: rgba(0, 81, 112, 0.82);
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.image-card:hover{
    box-shadow: 1rem 1rem 1rem 1rem #cacaca;
    
}

img[src*="model"]{
    width: 33rem;
    height: 24rem;
    position: absolute;
    left: -8rem;
    opacity: 0.75;
    
   
    
}

img[src*="webinar"]{
    width: 33rem;
    height: 24rem;
    position: absolute;
    left: -8rem;
    opacity: 0.5;
}

img[src*="purchase"]{
    width: 23rem;
    height: 33rem;
    position: absolute;
    left: -2.8rem;
    opacity: 0.5;
}
h4{
    position: absolute;
    z-index: 34;
    color: rgba(255, 255, 255, 0.9);
    font-size: 4rem;
    margin: 0;
    margin-top: 85%;
    text-align: center;
    line-height: 0.8;
    
    
}

.section-cardmargin{
    margin-top: 1rem;
}

.card-title{
    margin: 2rem;
    margin-top: 3rem;
    font-size: 2.3rem;
    text-align: center;

}

.foot{
    margin-top: 3rem;
    padding-left: 5rem;
    padding-right: 12rem;
    height: 30rem;
    background-image: linear-gradient(to right, rgba(117, 216, 255, 0.82),rgba(255, 255, 255, 0.0));

    
    display: flex;
    column-gap: 4rem;
    align-items: center;
    justify-content: space-between;
}

.logo-title{
    display: inline-block;
    color: white;
    font-size: 2rem;
    

}

.foot img[src*="brain"]{
    width: 7rem;
    height: 7rem;

}

.logo-foot{
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, rgba(117, 216, 255, 0.82),rgba(255, 255, 255, 0.0));

}

small{
    font-weight: 700;
    

}


/* MODEL PAGE */


header.title-model{
    /* Adjust margin so that the bg image is under the nav bar */
    margin-top: -5.5rem;
    /* Resets the "margin" for content inside */
    padding-top: 5.5rem;
    height: 51rem;

    /* https://www.pexels.com/video/two-women-lining-up-with-head-statues-3796398/ */
    background-image: url("../images/android-black.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.floater{
    height: 40rem;
    margin-bottom: 5rem;
    background-color: #b5d3e7;
    overflow: hidden;

    
    


}
img[src*="android"]{



width: calc(159.9375rem * 0.46886447);
height: calc(85.3125rem * 0.46886447);
float: right;
overflow: hidden;
opacity: 0.95;

    
    
}

img[src*="worker"]{



width: calc(159.9375rem * 0.46886447);
height: calc(85.3125rem * 0.46886447);
float: right;
overflow: hidden;
opacity: 0.80;

    
    
}

#worker{
    background-color: #b18f6f;
}
#common{

    background-color: #bdbec0;
}

.floater div{
    overflow: hidden;
    width: calc(159.9375rem * 0.3);
    height: calc(85.3125rem * 0.46886447);
    float: right;
    
    

}

.card-model{
    display: inline-block;
    width: auto;
    height: 30rem;
    padding: 2rem;
    margin: 5rem;
    margin-left: 8rem;
    margin-right: 50%;
    margin-bottom: 5;
    border-radius: 0.27rem;
    
    background-color: rgba(0, 27, 83);
    
    
    display: flex;
    flex-direction: column;
    box-sizing: border-box;


   
}

#card-worker{
    background-color: rgb(80, 40, 1);
    
    



   
}

#card-common{

    background-color: #3d3730;
    
}


.floater .pmini {
    display: block;
    color: #ffffff;
    font-weight: 450;
    font-size: 1.5rem;
    line-height: 1.6;  
}

.floater h3{
    display: block;
}

#nav-dark{
    background: linear-gradient(to right, rgba(58, 94, 130,0.82) 80%, rgba(131, 207, 234, 0.2));

}

.h3-underlinenone{

    text-decoration: none;
    margin-bottom: 1.5rem;
    font-size: 3.5rem;
    color: white;
      
}